
html, body{
	margin: 0;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: 'Quicksand', Arial,sans-serif;
}

hr{
	height: 1px;
	color: #56565640;
	background: #56565640;
	border: none!important;
}

.content{
	min-height: 35%;
	text-align: center;
	font-family:'Quicksand', Arial,sans-serif;
	font-size: 4.5vw;
}

.wrapper{
	background-color: #f6f6f6;

}

#title{
	font-weight: 100;
	font-size: 9vw;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0 15px 0;
	color: #565656;
	background-color: #f6f6f6;
}


/*	Top mini menu - about, how, why	*/


#menu{
	display: block;
	width: 100%;
	left: 0px;
	min-height: 20%;
	text-align: center;
}

#menu a{
	margin: 0 1vw;
	font-size: 4vw;
	text-decoration: none;
	font-family: 'Quicksand', Arial,sans-serif;
	letter-spacing: 1px;
	-webkit-user-drag: none;
}

#menu a:hover{
	border-radius: 10px;
	border-color: transparent;
}


/*	Search Bar section styling	*/


input:focus{
	outline:none;
}

#searchbar{
	font-family: 'Quicksand', sans-serif;
	font-size: 4.5vw;
	min-width: 60%;
	border-radius: 10px;
	padding: 10px 5px;
	border: 1px solid #0000003b;
    margin: 5% 0;
}

#search-section {
	text-align: center;
	margin-left: 5%;
}

#search-button{
	background: transparent;
	border: none;
	width: 30px;
	margin: 0 0 -2px -3px;
	
}

#search-button img{
	max-width: 18px;
	margin: 0 0 -2px -3px;
	-webkit-user-drag: none;
}

.recipe_name{
	text-decoration: none;
}

