@media screen and (min-width: 600px) {
	#banner_image {
		padding: 10%!important;
	}
}

html{
	background-color: #f6f6f6;
}

#banner_image{
	background: url(../website_images/food2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14%;
    min-height: 20%;
	opacity: 0.8;
}

.content{
	background-color: transparent;

	/* loads hidden - when clicked, content shows */
	display: none;
}


#menu{
	background-color: #98253b;
	padding-bottom: 5px;
    height: 12vw;
}


#menu a{
	padding: 1vw 3vw 1vw 3vw;
	color: white;
}

#menu a:hover{
	color: black;
	background-color: #ffffffcf;
	transition: background-color 0.8s, color 0.4s;
}


/*	Content style - buttons and recipes below them	*/
	

#search-result-show{
	text-align: center;
	margin: 5% 1% 0 1%;
	color: #565656;
    font-weight: 100;
	font-size: 5vw;
	padding: 10px;
}

#food-button:focus, #health-button:focus , #tips-button:focus, #household-button:focus{
	outline:none;
}

#food-button, #health-button , #tips-button, #household-button{
	min-width: 71vw;
	padding: 6vw;
	font-size: 5vw;
	margin: 10px;
	background: #f1dd7f;
	border: 1px solid transparent;
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
	
}


.food{
	min-width: 80vw;
}

.recipes{
	/* loads hidden - when clicked, content shows */
	display: none;
	padding: 10px;
	margin: 0px 12%;
	font-family: 'Quicksand', sans-serif;
	font-size: 4vw;
	text-decoration: none;
	text-align: left;
	font-weight: 100;
}

.recipes a{
	text-decoration: none;
	padding: 3vw 0;
}

.expand-image{
	max-height: 6vw;
	margin-top: 2px;
	opacity: 0.7;
}

.link_details{
	font-size: 3vw;
	font-style: italic;
}

.d20{
	max-width: 40vw;
	margin: 0 30%;
}

#d20_button{
	background: transparent;
	border: none;
	height: 40vw;
	outline: none;
}

#d20_button_text{
	margin-top: -60%;
	font-size: 4vw;
	font-weight: 600;
	object-fit: contain;
}

#d20_img{
	max-width: 35vw;
	object-fit: fill;
	margin-top: -15vw;
	-webkit-user-drag: none;
}


#bottom_text{
	margin: 8vw 5vw 12vw 5vw;
	text-align: center;
	font-size: 5vw;
}

#bottom_text a{
	text-decoration: none;
}
