@media screen and (max-width: 700px) {
		.title{
			max-height: 200px;
		}
}

@media screen and (min-width: 701px) {
	.title{
		max-height: 250px;
	}
	
}


html, body, .wrapper{
	height: 100%;
	min-height: 100%;
}

.image-banner img{
	max-width: 100vw;
	min-width: 100vw;
	margin-bottom: -10px;
	opacity: 0.85;
	height: 50vw;
	overflow: hidden;
	object-fit: cover;
}


.content{
	background-color: #f6f6f6;
	position: relative;
	padding-bottom: 5px;	
}


.content.text{
	padding: 5% 15% 5% 15%;	
	
}

.content h2{
	background: #f1dd7f;
	margin: 0;
	padding: 20px;
	margin-bottom: -27px;
}

.content p{
	margin: 5%;
}


#menu{
	background: transparent;
	margin: 5vw 0;
	
}

#menu a{
	padding: 8px 10px 8px 10px;
	color: black;
	
}


#menu a:hover{
	background-color: #ffffffcf;
	transition: background-color 0.8s;
	
}


#searchbar{
	margin: 3% 0 5% 0;
	
}



