@media screen and (min-width: 600px) {
	#banner_image {
		padding: 10%!important;
	}
}


html{
	background-color: #f6f6f6;
}

#banner_image{
	background: url(../website_images/food2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14%;
    min-height: 20%;
	opacity: 0.8;
}

.content{
	background-color: transparent;
	//padding: 5% 15% 5% 15%;
	
	/* loads hidden - when clicked, content shows */
	display: none;
}



#menu{
	background-color: #98253b;
	padding-bottom: 5px;
}


#menu a{
	padding: 4px 12px 6px 12px;
	color: white;
}

#menu a:hover{
	color: black;
	background-color: #ffffffcf;
	transition: background-color 0.8s, color 0.4s;
}


#searchbar{
	margin: 5% 0 5% 0;
}


/*	Content style - buttons and recipes below them	*/
	

#search-result-show{
	text-align: center;
	margin: 5% 1% 0 1%;
	color: #565656;
    font-weight: 100;
	font-size: 5vw;
	padding: 10px;
}

#food-button:focus, #health-button:focus , #tips-button:focus, #household-button:focus{
	outline:none;
}

#food-button, #health-button , #tips-button, #household-button{
	min-width: 71vw;
	padding: 6vw;
	font-size: 5vw;
	margin: 10px;
	background: #f1dd7f;
	border: 1px solid transparent;
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
	
}


.food{
	min-width: 80vw;
}

.recipes{
	/* loads hidden - when clicked, content shows */
	display: none;
	padding: 10px;
	margin: 0px 12%;
	font-family: 'Quicksand', sans-serif;
	font-size: 4vw;
	text-decoration: none;
	text-align: left;
	font-weight: 100;
}

.recipes a{
	text-decoration: none;
}

.expand-image{
	max-height: 6vw;
	margin-top: 2px;
}


