
.content{
	padding: 5% 15% 5% 15%;
	font-size: 4.5vw;
}

.recipe{
	text-align: left;
	font-size: 3.8vw;
}

.recipe h1, h2{
	color: #565656;
	font-weight: 100;
	font-size: 6vw;

}

.recipe h4{
	font-size: 4.5vw;
}

#prep_time, #cook_time{
	font-size: 3.7vw;
	margin: 2vw 0;
	font-style: italic;
}

#widget{
	margin-bottom: 8vw;
}

